body {
    background-image: url('c:\users\gianluca\source\repos\genexyz\tp2grupopagvansam\ui.desktop\resources\3392075.jpg');
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
